:root {
    --ff-sans:'Red Hat Display', sans-serif;

    --fw-light: 500;
    --fw-normal: 700;
    --fw-bold: 900;

    --clr-pale-blue: hsl(225, 100%, 94%);
    --clr-bright-blue: hsl(245, 75%, 52%);
    --clr-white: hsl(225, 100%, 98%);
    --clr-desaturated-blue: hsl(224, 23%, 55%);
    --clr-dark-blue: hsl(223, 47%, 23%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-color: var(--clr-pale-blue);
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: top;
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-family: var(--ff-sans);
    text-align: center;
}

.card {
    background-color: var(--clr-white);
    border-radius: 20px;
    max-width: 28.125rem;
    position: relative;
    display: grid;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    box-shadow: 0 20px 20px hsl(229, 71%, 87%);
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-img {
    display: block;
    border-radius: 1rem 1rem 0 0;
}

h1 {
    font-weight: var(--fw-bold);
    color: var(--clr-dark-blue);
    font-size: 1.8em;
    margin-top: 3.5rem;
    line-height: 1rem;
}

.description {
    color: var(--clr-desaturated-blue);
    font-weight: var(--fw-light);
    margin: 2rem;
    width: 80%;
    line-height: 1.6rem;
}
    
.card-container {
    background-color: var(--clr-white);
    width: 70%;
    display: flex;
    align-items: center;
}

.card-container img {
    display: block;
}

.card-details {
    margin: 1.3rem;
}

.plan {
    color: var(--clr-dark-blue);
    font-weight: var(--fw-bold);
}

.price {
    color: var(--clr-desaturated-blue);
    font-weight: var(--fw-light);
    margin-top: 0.3rem;
}

.card-container button {
    color: var(--clr-bright-blue);
    font-weight: var(--fw-normal);
    margin-left: auto;
    border: none;
    text-decoration: underline;
    font-size: 0.9rem
}

.card-container button:hover {
    color: hsl(247, 89%, 78%) ;
    text-decoration: none;
    cursor: pointer;
}

.payment {
    background-color: var(--clr-bright-blue);
    color: var(--clr-white);
    display: block;
    width: 80%;
    font-weight: var(--fw-normal);
    text-align: center;
    padding: 17px;
    margin: 2rem;
    border: none;
    border-radius: 12px;
    box-shadow: 0 10px 20px hsl(0, 0%, 75%);
    text-decoration: none;
    font-size: .9rem;
}

.payment:hover {
    background-color:hsl(248, 82%, 67%);
    cursor: pointer;
}

.cancel {
    text-align: center;
    color: var(--clr-desaturated-blue);
    font-weight: var(--fw-normal);
    text-decoration: none;
    border: none;
    margin-bottom: 3rem;
    font-size: .9rem;
}

.cancel:hover {
    color: black;
    cursor: pointer;
}

.author { 
    font-size: .7rem;
    padding-top: 1rem;
}

.author a { 
    color: hsl(246, 45%, 44%); 
}

@media only screen and (max-width: 23.5rem) {
    body {
      background-image: url(./images/pattern-background-mobile.svg);
      background-repeat: no-repeat;
      background-position: top;
      background-size: contain;
    }
}
